<h2>{{movie_id}} Details</h2>

<body ng-app="movieController">
	
	<div>
		<h2 ng-controller = "movieController">Year: {{cover}}</h2>
		<h2 ng-controller = "movieController">Rating: {{rating}}</h2>
		<h2 ng-controller = "movieController">Duration: {{time}}</h2>
		<p ng-controller = "movieController">{{syn}}</p>
	</div>



<!--
		<h2 ng-controller = "movieController">Year: {{movies.poster.thumbnail}}</h2>
		<h2 ng-controller = "movieController">Rating: {{movies.mpaa_rating}}</h2>
		<h2 ng-controller = "movieController">Duration: {{movies.runtime}}</h2>
		<p ng-controller = "movieController">{{movies.synopsis}}</p>
-->